@using Microsoft.Office.Core;
@using OrchardCore.Modules;
@using Application = Microsoft.Office.Interop.PowerPoint.Application;
@using Microsoft.Office.Interop.PowerPoint;
@*@model IndexModel*@
@*@model IEnumerable<Trixnet.web.Models.DocumentsClass>

*@

@model Trixnet.web.Services.UtilitairesClass

@inject OrchardCore.IOrchardHelper Orchard
@{
    string pathHSE = "wwwroot/img/HSE/";
    var tab_meteoSI = await Orchard.GetRecentContentItemsByContentTypeAsync("MeteoSI", 1);
    string pathCMS = "../../../../Media/";
    string imgPath = ""; //@pathCMS + @tab_meteoSI.First().Content.MeteoSI.MediaMeteoSI.Paths[0];

    var heure = DateTime.Now.ToString();
    //ViewData["Title"] = "Home Page";
    var imagesCaroussel = ViewBag.ImageCaroussel;
}
<!-- Body -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <!-- Menu de Droite -->
            <div class="col-lg-3 order-lg-3 showcase-img bg-white">
                <div class="showcase-text" style="padding: 0">
                    <!-- Tableau de bord -->
                    <div class="SectionHB SectionGD AppSection">
                        <div class="titreSection">
                            <h2 class="jaapooki" style="font-size: 1.5rem; color: rgb(19, 133,203);"><i class="fas fa-cloud-sun"></i> Météo SI</h2>
                        </div>
                        <div>
                            <div class="modal fade" id="meteoSI" tabindex="-1" role="dialog" aria-labelledby="meteoSIModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="meteoSIModal"> Météo Systeme d'Information</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @*<h3>@tab_meteoSI.First()</h3>*@
                                            <br />
                                            <p><strong>Description</strong></p>
                                            @*<p>@tab_meteoSI.First().Content.MarkdownBodyPart.Markdown</p>*@
                                        </div>
                                        <div class="modal-footer" style="background-image:url(@imgPath);">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* <h2>@tab_meteoSI.First()</h2>*@
                            <a href="#meteoSI" data-toggle="modal" data-target="#meteoSI">
                                <img class="w-100" src="@imgPath" height="100" />
                            </a>
                            <!--<img class="d-block w-100" src="img/météoSI.png" alt="Second slide">-->
                        </div>
                    </div>
                    <!-- Applications -->
                    <div class="SectionHB SectionGD AppSection">
                        <div class="titreSection">
                            <h2 class="jaapooki" style="font-size: 1.5rem; color: rgb(19, 133,203);"><i class="fas fa-th-large"></i>  Application</h2>
                        </div>
                        <ul class="nav flex-column">
                            <li class="app-item">
                                <a class="app-link">Accueil</a>
                            </li>
                            <li class="app-item">
                                <a class="app-link">Actualités</a>
                            </li>
                            <li class="app-item">
                                <a class="app-link">Support</a>
                            </li>
                            <li class="app-item">
                                <a class="app-link">Fonctions</a>
                            </li>
                            <li class="app-item">
                                <a class="app-link" href="https://intranet.peopleonline.corp.thales" target="_blank" style="color:black">People Online</a>
                            </li>
                            <li class="app-item">
                                <a class="app-link" href="mailto:" style="color:black">Messagerie</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Support -->
                    <div class="SectionHB SectionGD AppSection">
                        <div class="titreSection">
                            <a href="~/SI/Help">
                                <h2 class="jaapooki" style="font-size: 1.3rem; color: rgb(19, 133,203);">
                                    <i class="fas fa-headset"></i>&emsp; Support informatique
                                </h2>
                            </a>
                        </div>
                    </div>
                    <div class="SectionHB SectionGD AppSection">
                        <div class="titreSection">
                            <a href="@ViewBag.LinkHSE" target="_blank">
                                <h2 class="jaapooki" style="font-size: 1.3rem; color: rgb(19, 133,203);">
                                    <i class="fas fa-fire-extinguisher"></i>&emsp;Intervention Infras
                                </h2>
                            </a>
                        </div>
                    </div>
                    <!--Modal pour demande urgentes HSE-->
                    <div class="modal fade" id="HSE" tabindex="-1" role="dialog" aria-labelledby="HSEModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-lg">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="HSEModal">Guides et Formulaires</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span style="color:forestgreen; text-align : center">
                                        <strong>
                                            Si vous ne trouvez pas le document souhaité, faites une recherche dans le
                                            <a href="#">référenciel RH ISO </a>
                                        </strong>
                                    </span>
                                    <br />
                                    <br />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="SectionHB SectionGD AppSection" style="border-color : red">
                        <div class="titreSection">
                            <h2 class="jaapooki" style="font-size: 1.3rem; color: rgb(255,153,51)">
                                <i class="fas fa-fire-extinguisher"></i>&emsp;HSE, en cas d'urgence
                            </h2>
                            <div style="height:200px; background-image: url('../img/InProgress.jpg');  background-size: contain;">
                                <a href="#HSE" data-toggle="modal" data-target="#HSE">
                                    <p><strong>Procédures d'Urgence</strong></p>
                                </a>
                                <p>Liens vers documents utiles</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Caroussel  -->
            <div class="col-lg-9 order-lg-2 bg-white">
                <div id="carouselExampleControls" class="carousel slide SectionHB SectionGD" data-ride="carousel">
                    <div class="carousel-inner imgSectionCaroussel">
                        @for (int i = 0; i < imagesCaroussel.Length; i++)
                        {
                            int tailleStringPath = imagesCaroussel[i].Length - 8;
                            imagesCaroussel[i] = imagesCaroussel[i].Substring(8, tailleStringPath);
                            @if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="@imagesCaroussel[i]">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="@imagesCaroussel[i]">
                                </div>
                            }
                        }
                    </div>
                    <a class="archive-btn" href="PageSecretariat.html">
                        <i class="fas fa-archive" style="font-size: 1.4rem;"> <span class="font-special">Archive</span> </i>
                    </a>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- Section Actualités -->
                @{
                    ViewBag.TypeOfArticle = "Article";
                    await Html.RenderPartialAsync("../Shared/_Articles");
                }
            </div>
        </div>
    </div>
</section>
<script src="~/wwwroot/js/rss.js" type="text/javascript"></script>
